<!doctype html>
<html>
  <head>
  <link href="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="ui button">
      Default
    </div>

    <div class="ui menu">
      <div class="item">
        Item A
      </div>
      <div class="item">
        Item B
      </div>
      <div class="item">
        Item C
      </div>
    </div>
	
	<div class="ui three buttons">
  	<button class="ui active button">One</button>
  	<button class="ui button">Two</button>
  	<button class="ui button">Three</button>
  	</div>
  </body>
</html>

