<!doctype html>
<html>
  <head>
  <!--
  <link href="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">
  <script src="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  -->
  <!-- 
  <link href="/static/semantic/semantic.min.css" rel="stylesheet">
  <script src="/static/semantic/semantic.min.js"></script>
  <script src="/static/semantic/jquery.min.js"></script>
  -->
  <link   href="{{ url_for('static',filename='semantic/semantic.min.css')}}" rel="stylesheet">
  <script src="{{ url_for('static',filename='semantic/semantic.min.js')}}"></script>
  <script src="{{ url_for('static',filename='semantic/jquery.min.js')}}"></script>
  </head>

  <title>Hello from Flask</title>
	{% if name %}
  <h1>Hello {{ name }}!</h1>
	{% else %}
  <h1>Hello World!</h1>
	{% endif %}
  
  <body>
    <div class="ui button">
      Default
    </div>

    <div class="ui menu">
      <div class="item">
        Item A
      </div>
      <div class="item">
        Item B
      </div>
      <div class="item">
        Item C
      </div>
    </div>
	
	<div class="ui three buttons">
  	<button class="ui active button">One</button>
  	<button class="ui button">Two</button>
  	<button class="ui button">Three</button>
  	</div>
  </body>
</html>

